.main-header
  = render "layouts/header"
  %nav.bread-crumbs
    %ul
      %li 
        = link_to root_path do
          furima
        = icon('fas','angle-right')
      %li 
        - breadcrumb :users_new
        = breadcrumbs separator: " &rsaquo; "

.page
  .form
    .form__content
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .form__content--title
          会員情報入力
        .form__input
          = devise_error_messages!
          .form__input--nickname
            .form__input--title
              ニックネーム
              %span.red 必須
            = f.text_field :nickname, autofocus: true, placeholder: "例)フリマ太郎", class: "nicknameBox"
          .form__input--email
            .form__title
              メールアドレス
              %span.red 必須
            = f.email_field :email, placeholder: "PC、携帯どちらでも可", class: "emailBox"
          .form__input--password
            .form__title
              パスワード
              %span.red 必須
            = f.password_field :password, placeholder: "7文字以上の半角英数", class: "passwordBox"
          .form__input--password-confirmation
            .form__title
              確認用パスワード
              %span.red 必須
            = f.password_field :password_confirmation, class: "confirmation"
          .register-button
            = f.submit "次へ", class: "button"

