.main-header
  = render partial: 'layouts/header'
  %nav.bread-crumbs
    %ul
      %li 
        = link_to root_path do
          furima
        = icon('fas','angle-right')
      %li 
        - breadcrumb :mypage 
        = breadcrumbs separator: " &rsaquo; "

.MyPage
  .MyPage__left
    %h2 マイページ
    %ul.MyPage__list
      %li
        %p= link_to '出品する', new_item_path
        = icon('fas', 'angle-right', class: "angle-icon")
      %li
        %p 出品した商品
        = icon('fas', 'angle-right', class: "angle-icon")

      %li
        %p 購入した商品
        = icon('fas', 'angle-right', class: "angle-icon")
      %li
        %p お問い合わせ
        = icon('fas', 'angle-right', class: "angle-icon")
      %li
        %p お知らせ
        = icon('fas', 'angle-right', class: "angle-icon")
    %h2 設定
    %ul.MyPage__setting
      %li
        - if CreditCard.where(user_id: current_user.id).present?
          %p= link_to "クレジットカード詳細・削除", edit_credit_card_path(current_user.credit_card.id)
          = icon('fas', 'angle-right', class: "angle-icon")
        - else
          %p= link_to "クレジットカード登録", new_credit_card_path
          = icon('fas', 'angle-right', class: "angle-icon")
      %li
        %p= link_to "ログアウト", destroy_user_session_path, method: :delete
        = icon('fas', 'angle-right', class: "angle-icon")
  .MyPage__right
    .MyPage__todo
      .User__info
        = image_tag('member_photo_noimage_thumb.png',class: 'User__info__image')
        %p
          = current_user.nickname
      .Todo__list
        %h1 やることリスト
        %ul
          %li 
            %p ○○日までに、発送
            = icon('fas', 'angle-right', class: "angle-icon")
          %li 
            %p ○○日までに、発送
            = icon('fas', 'angle-right', class: "angle-icon")
    .MyPage__bought
      %h1 購入したもの
      %h2 取引中
      %ul
        %li 
          %p レディース、Tシャツ (S)
          = icon('fas', 'angle-right', class: "angle-icon")
