.main-header
  = render "layouts/header"
  %nav.bread-crumbs
    %ul
      %li 
        = link_to root_path do
          furima
        = icon('fas','angle-right')
      %li 
        - breadcrumb :users_new
        = breadcrumbs separator: " &rsaquo; "

.sing-content
  %main.profile-main
    %section.profile-main__content   
      %h2.profile-main__content__title
        会員情報入力
      .profile-main__form
        .profile__form
          =form_with model: @profile, local: true do |f|
            .profile-group          
              = f.label :お名前
              %span.profile-group__require 必須
              %br
              = f.text_field :family_name, {placeholder:"例) 山田",class:'profile-group__input--left'}
              = f.text_field :first_name, {placeholder:"例) 太郎",class:'profile-group__input--left'}
            .profile-group
              = f.label :お名前カナ
              %span.profile-group__require 必須
              %br
              = f.text_field :family_name_kana, {placeholder:"例) ヤマダ",class:'profile-group__input--left'}
              = f.text_field :first_name_kana, {placeholder:"例) タロウ",class:'profile-group__input--left'}
            .profile-group
              = f.label :生年月日
              %span.profile-group__require 必須
              %br
              = f.date_select :birth_day, { use_month_numbers:true, prompt:"--", end_year:1900, class:'profile-group__input--half'}
            .profile-group
              = f.submit '次へ', class: "profile-btn"

                