.header
  .header__logo
    = link_to root_path do
      =image_tag("logo.png", size: "220x70")
    
.buy-content
  .buy-content__main
    = form_with method: :post do |f|
      .buy-content__main__title
        購入内容の確認

      .buy-content__main__item
        .buy-image
          = image_tag @item.item_images.first.image.url, size: '200x150', class: 'buy-image__detail'
        .buy-details
          .buy-details__item-name
            %span= "商品名: #{@item.name}"
            %p.buy-price<>
              = number_to_currency(@item.price,format: "%u%n",unit:"¥",precision: 0)
              %span.shopping-free (税込)送料込み

      .buy-content__main__price-table
        .buy-content__main__price-table__left
          お支払い金額
        .buy-content__main__price-table__right<>
          = number_to_currency(@item.price,format: "%u%n",unit:"¥",precision: 0)
          %span.shopping-free (税込)送料込み
          
      .buy-content__main__user-info
        .buy-content__main__user-info__inner
          %h3 お支払い方法
          .inner-credit
            .inner-credit__brand
              %p= "カードブランド名: #{@card.brand}"
              %figure
                
            .inner-credit__number= "**** **** **** #{@card.last4}"
            .inner-credit__expiration
              .inner-credit__expiration__title<>有効期限
              .inner-credit__expiration__date= "#{@card.exp_month}月 #{@card.exp_year}年"

        .buy-content__main__user-info__adress
          .buy-content__main__user-info__adress__inner
            %h3 配送先
          .adress-info
            = "住所 #{@send.postcode}"
            %br
              = JpPrefecture::Prefecture.find(@send.prefecture_code).name
            %br           
              = @send.city
              = @send.house_number
            %br
              = @send.building_name
            
            
            .adress-info__name
              氏名
              = @send.family_name
              = @send.first_name
              様
              
      .buy-content__main__submit
        = link_to buy_item_path(@item.id), method: :post do
          購入する

= render partial: 'layouts/appBanner'
= render partial: 'layouts/footer'
