.main--toppage
  = render partial: 'layouts/header'
  %section.mainVisual
    .mainVisual__content
      %h2.mainVisual__content__subtitle
        %br
        人生を変えるフリマアプリ
      %p.mainVisual__content__text
        フリマは誰でも簡単に購入できる
        %br/
        フリマアプリです
      .mainVisual__content__btn
        = link_to '#', class: 'aBtn' do
          = image_tag 'http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg'
        = link_to '#', class: 'bBtn' do
          = image_tag 'http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg'



  %section.topIntroduction
    %h2.subtitle
      FURIMAが選ばれる三つの理由
    %ul.lists
      %li.list
        .list__pict
          %span.number 1
          = image_tag 'pict-reason-01.jpg', class: 'pic';
        %h3.list__text
          %span.text 3分
          ですぐに出品
        %p.description
          スマホで入力するだけで簡単に出品できる！
      %li.list
        .list__pict
          %span.number 2
          = image_tag 'pict-reason-02.jpg', class: 'pic';
        %h3.list__text
          %span.text 
            シンプル
          で使いやすい
        %p.description
          めんどくさい入力は必要なく、検索も購入もスムーズ！
      %li.list.list--last
        .list__pict
          %span.number
            3
          = image_tag 'pict-reason-03.jpg', class: 'pic';
        %h3.list__text
          手数料
          %span.text 
            業界最安
        %p.description
          最大3%でお得に出品&購入！



  %section.topMiddleDl
    .topMiddleDl__inner
      %h2.topMiddleDl__inner__subtitle
        会員数日本一位
      %p.topMiddleDl__inner__text
        FURIMAは、フリマアプリで最も人気。
        %br/
        出品・購入回数も業界最多です！
        %br/
        ほしかったあの商品に出会えるかもしれません。
      .topMiddleDl__inner__btn
        = link_to '#', class: 'aBtn' do
          = image_tag 'http://furima.tokyo/assets/app-store-9c5e28e8f81bd9912e0ded2f78821e04778a1356c05dc7c7bf1e88614be37c34.svg'
        = link_to '#', class: 'bBtn' do
          = image_tag 'http://furima.tokyo/assets/google-play-469c63f1269e456307c4dde176b33cc3bbbbf142ac4d7369656010130149db1a.svg'



  %section.topKeysfutures
    %h2.head
      FURIMAの特徴
    .items
      %section.item
        %figure.item__img
          = image_tag 'icon-01.png', class: 'item__img__icon'
        %h3.item__subtitle
          簡単に売り買いできる
        %p.tem__detail
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
      %section.item
        %figure.item__img
          = image_tag 'icon-02.png', class: 'item__img__icon'
        %h3.item__subtitle
          売上金は即日振込みに対応
        %p.item__detail
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします
      %section.item
        %figure.item__img
          = image_tag 'icon-03.png', class: 'item__img__icon'
        %h3.item__subtitle
          様々な支払いに対応
        %p.item__detail
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。



  %section.pickupContainer
    %h2.head
      ピックアップカテゴリー
    .productBox
      .productHead
        = link_to '#' do
          %h3.title
            商品一覧
      .productLists
        - @items.each do |item|
          .productList
            = link_to item_path(item) do
              %figure.productList--img
                = image_tag "#{item.item_images[0].image}", class: 'image__category'
                  -if item.buyer_id.present?
                  .productList--img__items-sold
                    .productList--img__items-sold__inner 
                      SOLD
            .productList--body
              %h3.product--name
                = item.name
              .details
                %ul
                  %li
                    = "#{item.price}円" 
                  %li
                    %i.fa.fa-star.likeIcon
                %p
                  (税込)


  %section.pickupContainer
    %h2.head
      ピックアップブランド
    .productBox
      .productHead
        = link_to '#' do
          %h3.title
            アーカイバ
      .productLists
        .productList
          = link_to '#' do
            %figure.productList--img
              = image_tag 'https://www.pakutaso.com/shared/img/thumb/isojinTSURUTAMA0252_TP_V.jpg', class: 'image__category'
            .productList--body
              %h3.product--name
                イソジン
              .details
                %ul
                  %li
                    100円
                  %li
                    %i.fa.fa-star.likeIcon
                %p
                  (税込み)
        .productList
          = link_to '#' do
            %figure.productList--img
              = image_tag 'https://www.pakutaso.com/shared/img/thumb/isojinTSURUTAMA0254_TP_V.jpg', class: 'image__category'
            .productList--body
              %h3.product--name
                イソジン、マスクセット
              .details
                %ul
                  %li
                    100円
                  %li
                    %i.fa.fa-star.likeIcon
                %p
                  (税込み)
        .productList
          = link_to '#' do
            %figure.productList--img
              = image_tag 'https://www.pakutaso.com/shared/img/thumb/isojinTSURUTAMA0237_TP_V.jpg', class: 'image__category'
            .productList--body
              %h3.product--name
                イソジン
              .details
                %ul
                  %li
                    100円
                  %li
                    %i.fa.fa-star.likeIcon
                %p
                  (税込み)



= render partial: 'layouts/appBanner'
= render partial: 'layouts/footer'
= render partial: 'layouts/display'