= render partial: 'layouts/header'

.main-contents
  .show-main
    .show-main__item-box
      .show-main__item-box__item-name
        イソジン
      .show-main__item-box__item-image
        .show-main__item-box__item-image__main-img
          = image_tag "https://www.pakutaso.com/shared/img/thumb/isojinTSURUTAMA0252_TP_V.jpg", size:"400x350", class: "top-img"
          .top-img__sold
            .top-img__sold__inner 
              SOLD
        .show-main__item-box__item-image__sub-img
          = image_tag "https://www.pakutaso.com/shared/img/thumb/isojinTSURUTAMA0252_TP_V.jpg", size:"140x100"

      .show-main__item-box__item-price
        100円
        .show-main__item-box__item-price__item-price-detail
          (税込)送料込み
        .show-main__item-box__item-price__item-price-btn
          = link_to root_path do
            売り切れました
          = link_to "#" do
            商品購入
          = link_to "#" do
            ログインがまだな方はこちらからお願いします

        .show-main__item-box__item-detail
          テスト

      .show-main__item-box__item-table
        %table
          %tr.one
            %th 出品者
            %td
              テスト
          %tr.two
            %th カテゴリー
            %td
              %p= @item.category.root.name
              %p= "> #{@item.category.parent.name}"
              %p= ">> #{@item.category.name}"
          %tr.tree
            %th ブランド
            %td 
              
          %tr.one
            %th 商品の状態
            %td 
              新品、未使用
          %tr.one
            %th 配送料の負担
            %td
              送料込み（出品者負担）
          %tr.one
            %th 発送元の地域
            %td 
              長野県
          %tr.one
            %th 発送日の目安
            %td 
              1日から2日で発送

      .show-main__item-box__option-area
        .show-main__item-box__option-area__like-btn
          = button_tag type: 'button', class: "like-btn" do
            = icon('fa', 'thumbs-up')
            お気に入り

        .show-main__item-box__option-area__seller-area
          = link_to "#", class: "edit__btn" do
            編集
          = link_to "#", method: :delete, class: "delete__btn" do
            削除

        .show-main__item-box__option-area__optional
          =link_to '#', class:"optional" do
            = icon('fas','flag')
            不適切な商品の通報

      .show-main__item-box__comment-box
        = form_with(local: true) do |f|
          .show-main__item-box__comment-box__new-comment
            = f.text_area :comment, class: "new-comment", placeholder: "コメントする"
          .show-main__item-box__comment-box__explanation
            %p 相手のことを考え丁寧なコメントを心がけましょう。
            %p 不快な言葉遣いなどは利用制限や退会処分になることがあります。
          .show-main__item-box__comment-box__comment-btn
            = f.submit "コメントする", class: "comment-btn" do
              = icon('fa', 'comment')
              コメントする
            %p 
              ※※※コメントの投稿には新規登録/ログインが必要です※※※

      .show-main__item-box__coment-box__comments
        %h1 コメント一覧
        .lists_comment
          .lists_comment__list
            %p.name
            %p.comment
              = link_to "#", method: :delete , class: "comment-delete-btn" do
                削除

= render partial: 'layouts/appBanner'
= render partial: 'layouts/footer'

          