.main-header
  = render partial: 'layouts/header'
  %nav.bread-crumbs
    %ul
      %li 
        = link_to root_path do
          furima
        = icon('fas','angle-right')
      %li 
        - breadcrumb :items_show
        = breadcrumbs separator: " &rsaquo; "

.main-contents
  .show-main
    .show-main__item-box
      .show-main__item-box__item-name
        = @item.name
      .show-main__item-box__item-image
        .show-main__item-box__item-image__main-img
          - @item.item_images.first(1).each do |img|
            = image_tag "#{img.image}", size:"400x350", class: "top-img"
            -if @item.buyer_id.present? 
              .top-img__sold
                .top-img__sold__inner 
                  SOLD

        .show-main__item-box__item-image__sub-img
          - @item.item_images.first(10).each do |img|
            = image_tag "#{img.image}", size:"140x100"


      .show-main__item-box__item-price
        %p
          = "#{@item.price}円" 
        .show-main__item-box__item-price__item-price-detail
          - if @item.postage_burden_id == 1
            (税込)送料込
          - elsif  @item.postage_burden_id == 2
            (税込)送料別 
        .show-main__item-box__item-price__item-price-btn
          - if @item.buyer_id.present?
            = link_to root_path do
              売り切れました
          - elsif user_signed_in?
            - unless current_user.id == @item.seller_id
              = link_to buyers_item_path(@item.id) do
                商品購入
          - else
            = link_to  new_user_session_path do
              ログインがまだな方はこちらからお願いします

        .show-main__item-box__item-detail
          = @item.introduction

      .show-main__item-box__item-table
        %table
          %tr.one
            %th 出品者
            %td
              = @seller
          %tr.two
            %th カテゴリー
            %td
              %p= @item.category.root.name
              %p= "> #{@item.category.parent.name}"
              %p= ">> #{@item.category.name}"
          %tr.tree
            %th ブランド
            %td 
              - if @item.brand_id.present?
                = @item.brand.name
          %tr.one
            %th 商品の状態
            %td 
              = @item.condition.condition
          %tr.one
            %th 配送料の負担
            %td
              = @item.postage_burden.burden
          %tr.one
            %th 発送元の地域
            %td 
              = JpPrefecture::Prefecture.find(@item.prefecture_code).name
          %tr.one
            %th 発送日の目安
            %td 
              = @item.postage_days.day

      .show-main__item-box__option-area
        .show-main__item-box__option-area__like-btn
          = button_tag type: 'button', class: "like-btn" do
            = icon('fa', 'thumbs-up')
            お気に入り

        .show-main__item-box__option-area__seller-area
          - if user_signed_in? && current_user.id == @item.seller_id
            = link_to "#", class: "edit__btn" do
              編集
            = link_to item_path(@item), method: :delete, class: "delete__btn" do
              削除

        .show-main__item-box__option-area__optional
          =link_to '#', class:"optional" do
            = icon('fas','flag')
            不適切な商品の通報

      .show-main__item-box__comment-box
        = form_with(local: true) do |f|
          .show-main__item-box__comment-box__new-comment
            = f.text_area :comment, class: "new-comment", placeholder: "コメントする"
          .show-main__item-box__comment-box__explanation
            %p 相手のことを考え丁寧なコメントを心がけましょう。
            %p 不快な言葉遣いなどは利用制限や退会処分になることがあります。
          .show-main__item-box__comment-box__comment-btn
            = f.submit "コメントする", class: "comment-btn" do
              = icon('fa', 'comment')
              コメントする
            %p 
              ※※※コメントの投稿には新規登録/ログインが必要です※※※

      .show-main__item-box__coment-box__comments
        %h1 コメント一覧
        .lists_comment
          .lists_comment__list
            %p.name
            %p.comment
              = link_to "#", class: "comment-delete-btn" do
                削除

= render partial: 'layouts/appBanner'
= render partial: 'layouts/footer'

          